{{#if message}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}

<div class="col-6 justyfy-content-end mb-2 mt-2">
  <a href="/category/add" type="button" class="btn btn-primary align-self-center">+ add category</a>
</div>

<table class="table table-bordered mt-4 text-center" id="example">
  <thead class="thead-dark">
    <tr>
      <th scope="col">STT</th>
      <th scope="col">Tên</th>
      <th scope="col">Ảnh</th>
       <th scope="col">Note</th>
     
      
      <th scope="col" class="text-end">trạng thái</th>
    </tr>
  </thead>
  <tbody>

    {{#each data}}
    <tr>
      <th scope="row">{{inc @index}}</th>
      <td>{{this.ten}}</td>
      <td><img src="{{this.img}}" style="width: 100px; height: 120px;" alt=""></td>
     
      <td>{{this.note}}</td>
   
     <td class="text-end">
       
        <a href="/category/edit/{{this.id}}" type="button" class="btn btn-light btn-small"><i class="bi bi-pencil"></i> Edit</a>
        <a href="/category/delete/{{this.id}}" type="button" class="btn btn-light btn-small" onclick="return confirm('Bạn có chắc muốn ẩn loại sản phẩm này không ?')"><i class="fas fa-trash"></i>Delete</a>
      
      
      </td>
      {{/each}}
    </tr>
   

  </tbody>
</table>