

<form class="m-3" method="post" action="/doanhthu">

    <div class="mb-3">
        <label  class="form-label">Ngày bắt đầu</label>
        <input type="datetime" class="form-control" name="dayStart" placeholder="vd : 2023-10-23 00:00:00">
    </div>

    <div class="mb-3">
        <label  class="form-label">Ngày kết thúc</label>
        <input type="datetime" class="form-control" name="dayEnd" placeholder="vd : 2023-10-23 00:00:00" >
    </div>

  <button type="submit" class="btn btn-primary mt-1">Submit</button>
</form>
{{#if tongtien}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
   Tổng tiền thu được là  :  {{tongtien}}VNĐ
   
</div>
{{/if }}

{{#if totalRevenue}}
<div class="grid text-center mt-3 mb-4">
  <div class="g-col-4">
    <h2>Tổng $ thu được theo khoảng thời gian là :  {{totalRevenue}} VNĐ</h2>
  </div>
  
</div>
{{/if}}

<div class="container text-center">
  <div class="row align-items-start">
    <div class="col">
      {{#if tongtienToday}}
        <h5 class="text-success">Tổng tiền hôm nay thu được là </h5>
        <h4 class="text-danger"> {{tongtienToday}} VNĐ</h4>
        {{else}}
        <h5 class="text-success">Tổng tiền hôm nay thu được là </h5>
        <h4 class="text-danger">0 VNĐ</h4>
       {{/if}}
    </div>
    <div class="col">
      {{#if tongtienThangNay}}
        <h5 class="text-success">Tổng tiền tháng này thu được là </h5>
        <h4 class="text-danger"> {{tongtienThangNay}} VNĐ</h4>
      {{else}}
        <h5 class="text-success">Tổng tiền tháng này thu được là </h5>
        <h4 class="text-danger">0 VNĐ</h4>
      {{/if}}
    </div>
    <div class="col">
      {{#if tongtienYear}}
        <h5 class="text-success">Tổng tiền năm nay thu được là </h5>
        <h4 class="text-danger">{{tongtienYear}} VNĐ</h4>
      {{else}}
        <h5 class="text-success">Tổng tiền năm nay thu được là </h5>
        <h4 class="text-danger">0 VNĐ</h4>
      {{/if}}
    </div>
  </div>
</div>

<div class="grid text-center mt-3">
  <div class="g-col-4">
    <h2>Tổng tiền 5 tháng vừa qua</h2>
  </div>
  
</div>
<div style="width: 80%; margin: auto;">
    <!-- Đặt canvas để vẽ biểu đồ -->
    <canvas id="myChart"></canvas>
  </div>
 <div class="container text-center mt-3">
  <div class="row align-items-start">
    <div class="col">
      {{#if giao}}
        <h5 class="text-success">Tổng đơn đã giao </h5>
        <h4 class="text-danger"> {{giao}}</h4>
        {{else}}
        <h5 class="text-success">Tổng đơn đã giao </h5>
        <h4 class="text-danger">0</h4>
       {{/if}}
    </div>
    <div class="col">
      {{#if huy}}
        <h5 class="text-success">Tổng đơn đã hủy </h5>
        <h4 class="text-danger"> {{huy}}</h4>
      {{else}}
        <h5 class="text-success">Tổng đơn đã hủy</h5>
        <h4 class="text-danger">0</h4>
      {{/if}}
    </div>
   
  </div>
</div>
 
  
<table class="table table-bordered mt-4 text-center">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Top</th>
      <th scope="col">Ảnh</th>
      <th scope="col">Tên Sản Phẩm</th>
      <th scope="col">Loại SP</th>
      <th scope="col">Giá bán</th>
       <th scope="col">Số lượng bán</th>
   
    </tr>
  </thead>
   
  <tbody>
    {{#each data1}}
    <th scope="row">{{inc @index}}</th>
      
      <td><img src="{{this.anh_san_pham_img}}" style="width: 100px%; height: 150px;" alt=""></td>
      <td>{{this.ten_san_pham}}</td>
      <td>{{this.ten_loai_san_pham}}</td>
      <td>{{this.gia_san_pham}}</td>
      <td>{{this.tong_soluong}}</td>
   
    
  </tbody>
  {{/each}}
</table>

<script>
 

   
     // Lấy dữ liệu từ server
     const productsData = {{{json data}}};

    const productLabels = productsData.map(product => product.Thang);
    const productValues = productsData.map(product => product.TongTien);
    // Vẽ biểu đồ bằng Chart.js
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: productLabels,
        datasets: [
          {
            label: 'Total Sales (VND)',
            backgroundColor: 'rgba(75, 192, 192, 0.2)',
            borderColor: 'rgba(75, 192, 192, 1)',
            data: productValues,
          },
        ],
      },
      options: {
        scales: {
          y: {
            beginAtZero: true,
          },
        },
      },
    });
</script>