<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"> <a href="/category">Loại SP</a></li>
        <li class="breadcrumb-item active" aria-current="page"> Edit Category</li>
    </ol>
</nav>
{{#if alert}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{alert}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}
{{#each rows}}
<form class="m-3" method="post" action="/category/edit/{{this.id}}">
<div class="mb-3">
    <label  class="form-label">Tên Loại Sản phẩm</label>
    <input value="{{this.ten}}" type="text" class="form-control" name="ten">
  </div>

  <div class="mb-3">
    <label  class="form-label">Note</label>
    <input value="{{this.note}}" type="text" class="form-control" name="note" >
  </div>

  <div class="mb-3">
    <label  class="form-label">Ảnh</label>
    <input value="{{this.img}}" type="text" class="form-control" name="img" >
  </div>

  

  <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  {{/each}}