<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"> <a href="/product">Product</a></li>
        <li class="breadcrumb-item active" aria-current="page"> Edit Color</li>
    </ol>
</nav>
{{#if alert}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{alert}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{{/if}}
{{#each rows}}
<form class="m-3" method="post" action="/product/editColor/{{this.id}}">
<div class="mb-3">
    <label  class="form-label">Tên Màu</label>
    <input value="{{this.title}}" type="text" class="form-control" name="title">
  </div>
  <div class="mb-3">
    <label  class="form-label">Mã màu</label>
    <input value="{{this.mamau}}" type="text" class="form-control" name="mamau" >
  </div>
    <div class="mb-3">

    <input value="{{this.masp}}" type="hidden" class="form-control" name="masp" >
  </div>



  

  <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  {{/each}}