<nav aria-label="breadcrumb" class="mt-1">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"> <a href="/product">Product</a></li>
        <li class="breadcrumb-item active" aria-current="page"> Biến thể</li>
    </ol>
</nav>

<div class="col-6 justyfy-content-end">
  <a href="/product/addVariant/{{masp.id}}" type="button" class="btn btn-primary align-self-center">+ add biến thể</a>
</div>
 
<table class="table table-bordered mt-4 text-center" id="example">
  <thead class="thead-dark">
    <tr>
      <th scope="col">STT</th>
      <th scope="col">Size</th>
      <th scope="col">Màu</th>
      <th scope="col">Số lượng</th>
      <th scope="col" class="text-end">trạng thái</th>
    </tr>
  </thead>
  <tbody>
      {{#each data}}
    <tr>
       
      <th scope="row">{{inc @index}}</th>
      <td>{{this.size_title}}</td>
     <td>{{this.color_title}}</td>
     <td>{{this.soluong}}</td>
      <td class="text-end">
       
        <a href="/product/editVariant/{{this.id}}" type="button" class="btn btn-light btn-small"><i class="bi bi-pencil"></i> Edit</a>
        <a href="/product/deleteVariant/{{this.id}}" type="button" class="btn btn-light btn-small" onclick="return confirm('Bạn có chắc muốn xoa không ?')"><i class="fas fa-trash"></i>Delete</a>
      
      
      </td>
     
    </tr>
    {{/each}}

  </tbody>
</table>